<section class="section section--contact" id="contact">
  <h2 class="section--contact__heading">Get in touch</h2>
  <form action="/contact-success" name="contact" method="POST" data-netlify="true">
    <fieldset>
      <legend>If you have any questions or comments about the content here, or if you'd like to have a workshop or bootcamp for your team, please get in touch! We will never send you unsolicited emails, or give your information to a third party.</legend>
      <label>Your Name: <input type="text" name="name" /></label>   
      <label>Your Email: <input type="email" name="email" /></label>
      <label>Message: <textarea name="message"></textarea></label>
      <button class="button" type="submit">Send</button>    
    </fieldset>
  </form>
</section>