{{ define "main" }}
  <main id="main" class="container__content-main">
    <article>
      <h1 class="h1--post-title emp--blue">
        {{ .Title }}
      </h1>
      {{ if .Page.Params.atf }}
        <div class="custom-summary emp--green">
          {{ .Page.Params.atf | markdownify }}      
        </div>
      {{ end }}
      {{ if ne .Params.toc false }}
        {{ partial "toc" . }}
      {{ end }}
      <div class="content">
        {{ .Content }}      
      </div>
      <div class="meta">
        <div class="meta__section meta__date">
          {{ $dateFormat := $.Site.Params.dateFormat | default "Jan 2, 2006" }}
          <strong aria-hidden="true">Publish date: </strong>{{ .PublishDate.Format $dateFormat }}
        </div>
        {{ with .Params.tags }}
          <div class="meta__section meta__tags">
            <strong aria-hidden="true">Tags: </strong>
            <ul class="meta__list" aria-label="tags">
              {{ range . }}
                <li class="meta__item">
                  <svg class="meta__tag-icon" aria-hidden="true" viewBox="0 0 177.16535 177.16535" focusable="false">
                    <use xlink:href="#tag"></use>
                  </svg>
                  {{ $href := print ("tags/" | absLangURL) (. | urlize) "/" }}
                  <a class="meta__anchor" href="{{ $href }}">{{ . }}</a>
                </li>
              {{ end }}
            </ul>
          </div>
        {{ end }}
      </div>
    </article>
  </main>
{{ end }}
